<!-- about.html -->

{% extends 'base.html' %}
{% block title %} About {% endblock %}

{% block content %}

<main>
    <section>
        <h1><strong>About Big Mike! 😎</strong></h1>
        <br>
        <div>
            <figure>
                <img src="../static/images/Big_Mike.jpg" alt="Big Mike" width="480px">
                <figcaption style="font-size: 1.5em; font-weight: 700">Big Mike doesn't need the whole enchilada. Just a
                    slice. 🍕</figcaption>
            </figure>
        </div>
    </section>
</main>

{% endblock %}

